<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/home_style.css">
</head>
<body>
    <header>
        <img src="../static/img/logo.jpg" alt="Logo" width="10%" height="10%">
        <div class="head-tag">
            <a href="add">Add Task</a>
            <a href="view0">View Task</a>
            <a href="search">Search Task</a>
            <a href="filter">Filter Task by Category</a>
            <a href="delete">Delete Task</a>
        </div>
    </header>
    <h1>Welcome To The Home Page Of Task Management System</h1>
    <div class="services">
        <p><strong>Add Task:</strong> Create and organize your tasks by providing a title, description, and due date. This feature helps you manage your to-do list efficiently.</p>
        <p><strong>View Task:</strong> Easily access and review your tasks. View essential details such as title, due date, and status at a glance for effective task tracking.</p>
        <p><strong>Search Task:</strong> Quickly find specific tasks by using the search functionality. This allows you to locate tasks based on keywords or specific criteria.</p>
        <p><strong>Filter Task by Category:</strong> Organize and categorize your tasks by assigning them to specific categories. Filter tasks based on categories to streamline your view and focus on relevant tasks.</p>
        <p><strong>Delete Task:</strong> Remove tasks that are no longer needed. This feature helps you declutter your task list and keep it up to date with your current priorities.</p>
    </div>
</body>
</html>