<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body style="background-image: url('../static/img/background.jpg');">
    <header>
        <img src="../static/img/logo.jpg" alt="Logo" width="10%" height="10%">
        <div class="head-tag">
            <span class="logo-text">Task Management System</span>
            <a href="signup">Signup</a>
            <a href="login">Login</a>
           
        </div>
    </header>
    <div class="content-container">
    <h1>Welcome to the Task Management System</h1>
    <p>Experience a seamless task management solution designed to elevate your productivity. Our system empowers you with features such as intuitive task creation, efficient categorization, real-time status tracking, and the ability to organize tasks into projects or tags. Stay on top of your goals and enhance collaboration with the Task Management System.</p>
    </div>
</body>
</html>